.skills-cards-item {
  width: 250px;
  height: 56px;
  background-color: #312e2e;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #615e5e;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-left: 50px;
  transition: 0.2s ease all;
}

.skills-cards-item.light {
  width: 250px;
  height: 56px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-left: 50px;
  transition: 0.2s ease all;
  background-color: #ccffcc;
}

.skills-cards-item:hover {
  background-color: #4ADE80;
}

.skill-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.skill-title {
  color: #F9FAFB;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

.skill-title.light {
  color: #000;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}



