.whoami-wrapper {
  max-width: 768px;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}

.whoami-text {
  font-size: 16px;
  line-height: 22px;
  color: #f9fafb;
}

.whoami-text.light {
  color: #000;
}

.whoami-subtitle {
  font-weight: bold;
  color: #4ade80;
}

@media (max-width: 768px) {
  .whoami-text {
    padding: 20px;
    font-size: 16px;
  }
  .whoami-subtitle {
    padding: 0px 20px 0px 20px;
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .whoami-text {
    font-size: 14px;
    line-height: 20px;
  }

  .whoami-subtitle {
    font-size: 18px;
  }
}
